* {
    box-sizing: border-box;
}

body {
    font-family: "lato", sans-serif;
    font-size: 18px;
    margin: auto;
    max-width: 1240px;
}

input {
    border: none;
    background-color: transparent;
}

button {
    border: none;
}

.search-btn-icon {
    background-color: #E7E7E7;
}


/*------------HEADER------------*/

header {
    width: 268px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    color: #D04F4F
}

header img {
    width: 50px
}

h1 {
    margin: 0;
}


/*------------SEARCH SECTION------------*/

#search-section {
    margin: 20px 0 0 0;
}

#search-bar {
    height: 69px;
    background-color: #E7E7E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

#main-search {
    width: 100%;
    height: 69px;
    background-color: #E7E7E7;
}

#advanced-search-container {
    display: flex;
    justify-self: start;
    flex-wrap: wrap;
}

.search-btn {
    margin-left: 15px;
}

.advanced-search-btn {
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 5px;
    height: 69px;
}

#ingredients-chevron.active,
#appareils-chevron.active,
#ustensiles-chevron.active {
    transform: rotate(180deg);
}

.search-btn-align input::placeholder {
    color: white;
    font-size: 1.4em;
}

.search-btn-align {
    display: flex;
    align-items: center;
    height: 69px;
    padding: 0 20px 0 20px;
}

#ingredients-search {
    background-color: #3282F7;
}

#appareils-search {
    background-color: #68D9A4;
}

#ustensiles-search {
    background-color: #ED6454;
}

.fa-chevron-down {
    color: white;
}

.ul-container {
    transform: scale(0);
    position: absolute;
    z-index: 1;
    top: 330px;
    background-color: inherit;
    border-radius: 0 0 5px 5px;
    width: 667px;
    max-height: 328px;
    padding: 18px 25px 15px 25px;
    overflow-y: auto;
    transition: transform 300ms;
    transform-origin: top left;
}

.advanced-search-btn.active .ul-container {
    transform: scale(1);
}

.advanced-search-btn.active {
    width: 667px;
}

.input-tag {
    width: 100%;
    height: 20px;
    color: white;
    outline: none;
}

.li-list {
    list-style-type: none;
    column-count: 3;
    margin: 0;
    padding: 0;
    color: white
}

.li-list li:hover {
    transform: scaleX(1.1);
}

#search-tag {
    display: flex;
    margin-top: 20px;
    height: 50px;
}

.li-list li {
    margin: 10px
}

.ingredients-inlinetag,
.appareils-inlinetag,
.ustensils-inlinetag {
    display: none;
}

.ingredients-inlinetag.active {
    display: inline-flex;
    background-color: #3282F7;
    margin-left: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: auto;
}

.appareils-inlinetag.active {
    display: inline-flex;
    background-color: #68D9A4;
    margin-left: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: auto;
}

.ustensils-inlinetag.active {
    display: inline-flex;
    background-color: #ED6454;
    margin-left: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: auto;
}

.tag {
    margin-right: 5px;
    color: white;
}

.close-button {
    color: white;
}


/*------------RECIPES SECTION------------*/

#recipes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
}

.recipes {
    width: 379px;
    height: 364px;
}

.recipe-img {
    width: 100%;
    height: 50%;
    background-color: #C7BEBE;
}

.recipe-details {
    height: 50%;
    background-color: #E7E7E7;
}

.recipe-head-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.recipe-head-text h2 {
    font-size: 18px;
}

.container-details {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 0 10px
}

.recipes-ingredients {
    width: 45%;
    list-style-type: none;
    padding: 0
}

.recipes-description {
    width: 45%;
    margin: 0;
}